/*========================================
	Basic styling
  ========================================*/

/*Background coulors and basic alignment*/
html{
	display: block;
	width: 100%;
	min-height: 98%;
	background: beige;
}

main, header, footer{
	display: block;
	margin: 0 auto;
	width: 90%;
	background: rgba(255, 255, 255, 0.5); /*with some transparency*/

	-moz-border-radius: 0.2em 0.2em;
	border-radius: 0.2em 0.2em; /*Rounded corners*/

	box-shadow: 0 0 2px rgba(128, 128, 128, 0.8); /*shadow for outline*/
}

/*Center the main heading.*/
body > header h1, header{
	text-align: center;
}

/*Position footer and define the style of the text.*/
body > footer{
	font-style: italic;
	position: fixed;
	bottom: 0;
	left: 0;

	width: 100%;
}

main{
	min-height: 70%;
}



/*========================================
	Fonts
  ========================================*/

html{
    font-size: 12px;
}

body{
    font-size: 1.2em;
}

@font-face{
  font-family: "Almendra";
  src: local("AlmendraDisplay"),
	   local("Almendra Display"),
       local("Almendra Display Regular"),
	   local("AlmendraDisplay-Regular"),
       /*url("/css/Fonts/Almendra_Display/AlmendraDisplay-Regular.eot?#iefix") format("embedded-opentype"),
       url("/css/Fonts/Almendra_Display/AlmendraDisplay-Regular.woff") format("woff"),*/
       url("Fonts/Almendra_Display/AlmendraDisplay-Regular.ttf") format("truetype"),
       url("Fonts/Almendra_Display/AlmendraDisplay-Regular.otf") format("opentype"),
	   url("css/Fonts/Almendra_Display/AlmendraDisplay-Regular.ttf") format("truetype"),
       url("css/Fonts/Almendra_Display/AlmendraDisplay-Regular.otf") format("opentype"),
	   url("https://fedor1113.github.io/css/Fonts/Almendra_Display/AlmendraDisplay-Regular.ttf") format("truetype"),
       url("https://fedor1113.github.io/css/Fonts/Almendra_Display/AlmendraDisplay-Regular.otf") format("opentype");
       /*url("/css/Fonts/Almendra_Display/AlmendraDisplay-Regular.svg#AlmendraDisplay") format("svg");
  src: url("/css/Fonts/Almendra_Display/AlmendraDisplay-Regular.eot");*/

  font-weight: normal;
  font-style: italic;
}

@font-face{
  font-family: "Gidole";
  src: local("Gidole"),
       local("GidoleFont"),
	   local("Gidole Regular"),
	   local("Gidole-Regular"),
       /*url("/css/Fonts/Almendra_Display/AlmendraDisplay-Regular.eot?#iefix") format("embedded-opentype"),
       url("/css/Fonts/Almendra_Display/AlmendraDisplay-Regular.woff") format("woff"),*/
       url("Fonts/GidoleFont/Gidole-Regular.ttf") format("truetype"),
       url("Fonts/GidoleFont/Gidole-Regular.otf") format("opentype"),
	   url("css/Fonts/GidoleFont/Gidole-Regular.ttf") format("truetype"),
       url("css/Fonts/GidoleFont/Gidole-Regular.otf") format("opentype"),
	   url("https://fedor1113.github.io/css/Fonts/GidoleFont/Gidole-Regular.ttf") format("truetype"),
       url("https://fedor1113.github.io/cssFonts/GidoleFont/Gidole-Regular.otf") format("opentype");
       /*url("/css/Fonts/Almendra_Display/AlmendraDisplay-Regular.svg#AlmendraDisplay") format("svg");
  src: url("/css/Fonts/Almendra_Display/AlmendraDisplay-Regular.eot");*/

  font-weight: normal;
  font-style: italic;
}

@font-face{
    font-family: 'Rothenburg-Decorative';
    src: url('Fonts/Rothenburg-Decorative/rothenbg-webfont.eot'),
		 url('css/Fonts/Rothenburg-Decorative/rothenbg-webfont.eot')
		 url('https://fedor1113.github.io/css/Fonts/Rothenburg-Decorative/rothenbg-webfont.eot');
    src: url('Fonts/Rothenburg-Decorative/rothenbg-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/Rothenburg-Decorative/rothenbg-webfont.woff') format('woff'),
         url('Fonts/Rothenburg-Decorative/rothenbg-webfont.ttf') format('truetype'),
         url('Fonts/Rothenburg-Decorative/rothenbg-webfont.svg#webfontregular') format('svg'),
		 url('css/Fonts/Rothenburg-Decorative/rothenbg-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/Fonts/Rothenburg-Decorative/rothenbg-webfont.woff') format('woff'),
         url('css/Fonts/Rothenburg-Decorative/rothenbg-webfont.ttf') format('truetype'),
         url('css/Fonts/Rothenburg-Decorative/rothenbg-webfont.svg#webfontregular') format('svg'),
		 url('https://fedor1113.github.io/css/Fonts/Rothenburg-Decorative/rothenbg-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://fedor1113.github.io/css/Fonts/Rothenburg-Decorative/rothenbg-webfont.woff') format('woff'),
         url('https://fedor1113.github.io/css/Fonts/Rothenburg-Decorative/rothenbg-webfont.ttf') format('truetype'),
         url('https://fedor1113.github.io/css/Fonts/Rothenburg-Decorative/rothenbg-webfont.svg#webfontregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face{
    font-family: "Snippet";
    src: url('Fonts/Snippet/Snippet.otf') format('opentype'),
		 url('css/Fonts/Snippet/Snippet.otf') format('opentype'),
		 url('https://fedor1113.github.io/css/Fonts/Snippet/Snippet.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}



/*========================================
	Header
  ========================================*/

body > header{
	font-family: "Almendra", sans-serif;
}

body > header h1{
	font-size: 3em;
}




/*========================================
	Footer
  ========================================*/

body > footer{
	font-family: sans-serif;
	opacity: 0.8;
}

.footer_badge{
	height: 15px;
	opacity: 1;
}



/*========================================
	Navigation
  ========================================*/

/*Using flex*/
header nav ul{
	margin: 0 auto;
	padding: 0;
	width: 88.5%;

	font-size: 2em;

	-webkit-display: -webkit-box;
	-webkit-display: -webkit-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-justify-content: space-between;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

header nav li{
	list-style: none; /*Disable built-in lists styling.*/

	padding: 0.5em;
	flex: auto;
}



/*========================================
	Main, Content
  ========================================*/

main{
    padding: 1.2em;
	padding-bottom: 2.8em;
    box-sizing: border-box;
}

/*Headings*/
main h, main h1, main h2, main h3, main h4, main h5, main h6, main{
    font-family: "Snippet", "Gidole";

}

/*-- Initials are enchanting. --*/
main p:first-of-type::first-letter{
    font-family: "Rothenburg-Decorative", cursive;

	height: 3em;
	width: 100%;
	display: block;
	/*position: relative;*/
    float: left;
    font-size: 3em;
	margin-top: 0.01em;
	margin-bottom: -0.01em;
}

main p:first-of-type::first-line{
    line-height: 100%;
}

main p{
	display: inline-block;
	margin-top: 1em;
	margin-bottom: 1em;

	margin-right: 0.5em;
	margin-left: 1.2em;

	padding: 0.05em;
}



/*========================================
	Links styling
  ========================================*/

a, a:active, a:visited, a:active, a:focus, a:hover{
	outline: 0;
	text-decoration: none;
	color: black;
}

a:hover, a:active{
	text-decoration: underline;
	transition: 1s linear;
}

/*Normal links - not parts of the UI in main*/
/*Extra styling to differentiate from the usual text*/
main a{
    display: inline-block;
    padding: 1px;
    border-radius: 2%;
    background-color: wheat;
    border: 0;
    outline: 0;
}



/*========================================
	Beatiful animations, special effects
  ========================================*/

/*Basic transition for any change.*/
*{
	-webkit-transition: 1s linear;
	-moz-transition: 1s linear;
	-ms-transition: 1s linear;
	-o-transition: 1s linear;
	transition: 1s linear;
}



/*========================================
	Media queries
  ========================================*/

@media (max-width: 720px){
	header nav ul{
	  -webkit-flex-direction: column;
	  -webkit-box-orient: vertical;
	  -webkit-box-direction: normal;
	  -ms-flex-direction: column;
	  flex-direction: column;
	}
	li{
	  text-align: center;
	}

	html{
		font-size: 14px;
	}

	main{
		padding: 0.5em;
	}

	.footer_badge{
		height: 17px;
	}
}

@media (max-width: 480px){
    main, header, footer{
        width: 95%;
    }

	html{
		font-size: 16px;
	}

	main{
		padding: 0.2em;
	}

	.footer_badge{
		height: 19px;
	}
}
